
body{
    background-image: url(a.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
.about{
    margin-top: 4rem;
    margin-left: 25rem;
    height: 30rem;
    width: 40rem;
    background-color: rgba(108, 104, 88, 0.5);
    border: 0.1rem solid white;

    padding: 3rem 3rem 3rem 3rem;
}
h1,h2,h3{
    text-align: justify;
}

#back{
    all:unset;
    color: black;
    font-weight: bolder;
}
#btn{
    background-color: white;
    border: 0.1rem solid black;
    height: 2rem;
    width: 5rem;
    opacity: 0.3;
}